<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= link_to 'Back', root_path, class: 'btn btn-sm btn-outline-secondary' %>
    </div>
    <div class="col-md-4">
      <h4>Log In</h4>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="card article-card">
      <div class="card-body">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field remember">
            <%= f.check_box :remember_me %>
            <br> 
            <%= f.label :remember_me, class: 'rl'%>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'float-right btn btn-sm btn-outline-primary' %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
