<!DOCTYPE html>
<html>
  <head>
    <title>Rails Competency Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class= "header">
    <div><a class="page-title" href="/"> Articles </a></div>
    <div><%= login_helper %></div><br />
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>  
    <%= yield %>
  </body>
</html>
